<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Automate!</title>
    </head>
    <body>
        <h1>Automate Coin</h1>
        <h2>Duties</h2>
        <ul>
            <li>Placeholder</li>
            <li>Placeholder</li>
        </ul>
        <form>
            <p>Please enter a duty for this coin</p>
            <label for="number">Duty Number</label>
            <input name="number" type="text">
            <label for="description">Description</label>
            <input name="description" type="text">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
