<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Devops Apprenticeship</title>
    </head>
    <body>
        <h1>Devops Apprenticeship Coins</h1>
        <a href='automate'>Automate</a>
        <ul>
            {% for item in duties %}
                <li><a href="{{ item.identifier|string }}">Duty {{item.identifier}}: {{ item.description }}</a></li>
            {% endfor %}
</ul>
    </body>
</html>
